<section class="pad-tb container-fluid"> <!-- News -->
{% assign twrap = "Latest News" %}
{% assign colour = 'blubox c2' %}
{% assign anchor = 'news' %}
{% include titlewrap.html %}

	<div class="pad-tb col-xs-24 col-xs-offset-0 col-sm-18 col-sm-offset-3 col-md-16 col-md-offset-4">
	<a class="twitter-grid" data-limit="3" href="https://twitter.com/greenheatnow/timelines/714167724063244288">Green Heat</a> 
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>


</section> <!-- End of News -->